.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-s);
}

.section {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}

.select {
  width: 120px;
}
