.container {
  width: fit-content;
  height: var(--control-size);
  padding: 0 var(--spacing-m);
  border-radius: var(--spacing-l);
}

.icon {
  max-width: var(--control-size) !important;
  max-height: var(--control-size) !important;
  min-width: var(--control-size) !important;
  min-height: var(--control-size) !important;
  border-radius: var(--spacing-l);
}

.container,
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--background);
  color: var(--color);
  font-size: 16px;
  font-weight: var(--heading);
  transition: var(--transition);
  fill: var(--color);
  gap: var(--spacing-s);
  cursor: pointer;
  user-select: none;
  font-family: var(--font-family);
}

.container svg,
.icon svg {
  width: 12px;
  height: 12px;
  fill: var(--color);
}

.container:disabled,
.icon:disabled {
  cursor: not-allowed;
}

.primary {
  --color: var(--background-primary);
  --background: var(--content-primary);
}

.secondary {
  --color: var(--content-primary);
  --background: var(--content-gray-dark);
}

.empty {
  --color: var(--content-primary);
}

.primary:not(:disabled):hover {
  opacity: 0.8;
}

.secondary:not(:disabled):hover {
  opacity: 0.8;
}

.empty:not(:disabled):hover {
  --color: var(--content-primary);
  --background: var(--content-gray-dark);
}
