@font-face {
  font-family: Figtree;
  src: url("./fonts/Figtree.ttf") format("truetype");
}

:root {
  /* main-color */
  --black-primary: #0a0a0a;
  --black-secondary: #121212;
  --white-primary: #f7f7f7;
  --white-secondary: #f0f0f0;
  --red: #ea2a33;

  /* light-color */
  --light-gray-primary: #e6e6e6;
  --light-gray-secondary: #a8a8a8;

  /* dark-color */
  --dark-gray-primary: #262626;
  --dark-gray-secondary: #5e5e5e;

  /* blur */
  --blackout: rgb(0 0 0 / 70%);

  /* spacing */
  --spacing-xxs: 1px;
  --spacing-xs: 3px;
  --spacing-s: 8px;
  --spacing-m: 11px;
  --spacing-l: 15px;

  /* border */
  --border-primary: var(--spacing-xxs) solid var(--content-gray-dark);
  --border-secondary: var(--spacing-xxs) solid var(--content-gray-light);

  /* font-weight */
  --heading: 500;
  --title: 300;

  /* font-family */
  --font-family: "Figtree";

  /* transition */
  --transition: 200ms;
}

[data-theme="dark"] {
  /* backgrounds */
  --background-primary: var(--black-primary);
  --background-secondary: var(--black-secondary);

  /* contents */
  --content-primary: var(--white-primary);
  --content-gray-dark: var(--dark-gray-primary);
  --content-gray-light: var(--dark-gray-secondary);
}

[data-theme="light"] {
  /* backgrounds */
  --background-primary: var(--white-primary);
  --background-secondary: var(--white-secondary);

  /* contents */
  --content-primary: var(--black-primary);
  --content-gray-dark: var(--light-gray-primary);
  --content-gray-light: var(--light-gray-secondary);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background-primary);
  color: var(--content-primary);
  font-family: var(--font-family);
  -webkit-tap-highlight-color: transparent;
}
