.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: 100%;
}

.label {
  font-weight: var(--heading);
}

.content {
  display: flex;
  align-items: center;
  height: 30px;
  border: var(--border-primary);
  border-radius: var(--spacing-l);
  background: var(--content-gray-dark);
}

.content:focus-within {
  outline: var(--border-secondary);
}

.input {
  display: flex;
  flex: 1;
  height: 30px;
  padding: var(--spacing-m);
  border: none;
  border-radius: var(--spacing-l);
  background: var(--content-gray-dark);
  color: var(--content-primary);
  font-size: 16px;
  font-weight: var(--heading);
  font-family: var(--font-family);
  outline: none;
}

.input::placeholder {
  color: var(--content-gray-light);
  user-select: none;
}

.content.disabled,
.input:disabled {
  cursor: not-allowed;
  color: var(--color-gray);
  outline: none;
}

.content:has(.button) .input {
  padding: 0;
  padding-left: var(--spacing-m) !important;
}

.button {
  border-radius: 0 50% 50% 0;
}
