.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-s);
}

.section {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}

.input input {
  width: 170px;
}

.select {
  width: 160px;
}
