.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-s);
}

.section {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}

.input {
  width: 220px;
}

.select {
  width: 160px;
}
