.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--spacing-s);
  background: var(--background);
  border-bottom: var(--border);
  -webkit-app-region: drag;
}

.title {
  font-weight: var(--heading);
  user-select: none;
}

.controls {
  display: flex;
  gap: var(--spacing-xs);
  -webkit-app-region: no-drag;
}
