.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-s);
  padding-left: var(--spacing-s);
  border-radius: var(--spacing-l);
  background: var(--content-gray-dark);
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
