.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: 0;
}

.content {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
